<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>937195990218-d6esb78j3l3lnolhahtbck5frnnsnkat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937195990218-d6esb78j3l3lnolhahtbck5frnnsnkat</string>
	<key>API_KEY</key>
	<string>AIzaSyAprGco6-WwdnC-mCMg5FuJKwLOwci-JIY</string>
	<key>GCM_SENDER_ID</key>
	<string>937195990218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spheros.app</string>
	<key>PROJECT_ID</key>
	<string>valeo-tbs-brasil</string>
	<key>STORAGE_BUCKET</key>
	<string>valeo-tbs-brasil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937195990218:ios:20ea1f290758682b</string>
	<key>DATABASE_URL</key>
	<string>https://valeo-tbs-brasil.firebaseio.com</string>
</dict>
</plist>